---
import Layout from "@layouts/Layout.astro"
import ContactInfo from "@markdowns/ContactInfo.mdx"
---

<Layout> 
  <div class="max-w-3/4 mx-auto flex flex-col">
    <ContactInfo />
  </div>
</Layout>

