---
import { Astronav, MenuItems, MenuIcon,  Dropdown, DropdownItems } from "astro-navbar";
---

<header class="lg:flex p-5  gap-5">
  <Astronav>
    <div class="flex w-full justify-between prose">
      <a>
        <h2 id="nav-title">
          Logo
        </h2>
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5 items-center">
        <li>About</li>
        <li>Contact</li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
