---
const duration1 = "45 minute";
const cost1 = 150;
const duration2 = "1,5 hour";
const cost2 = 300;
---

<h2>
Studio lessons
</h2>
<div class="overflow-x-auto shadow-md rounded-box border border-base-content/5 ">
  <table class="table">
    <!-- head -->
    <thead class="bg-primary text-primary-content">
      <tr>
        <th>Duration</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <td>{duration1} session</td>
        <td>R{cost1}</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <td>{duration2} session</td>
        <td>R{cost2}</td>
      </tr>
    </tbody>
  </table>
</div>


