
  <table class="table">
    <!-- head -->
    <thead class="bg-base-300">
      <tr>
        <th>Area</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody class="bg-base-200">
      <!-- row 1 -->
      <tr>
        <td>Local (Melkboss, Blouberg, Tableview etc.)</td>
        <td>R50</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <td>National (via Courier)</td>
        <td>Buyer's Cost</td>
      </tr>
    </tbody>
  </table>
</div>

