---
import './src/styles/global.css'
import '@fontsource/convergence'
import '@fontsource/ultra'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en" data-theme="dracula">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Konstant's Pedal Supply</title>
	</head>
	<body>
    <div class="min-h-screen prose-h1:mb-2 prose-h1:font-normal prose-h2:mt-0 prose-h2:font-semibold">
    <Navbar />
		<slot />
		</div>
		<Footer company="Konstant's Pedal Supply"></Footer>
	</body>
</html>


